<?php
    $data = $this->getPromotionsCollection();
    $blocks = $this->getBlocks($data['static_blocks']);
$breadcrumbs = $this->getLayout()->getBlock('breadcrumbs');
// add first item with link
$breadcrumbs->addCrumb(
    'home',
    array(
        'label'=>$this->__('Promotions'),
        'title'=>$this->__('Promotions'),
        'link'=>Mage::getUrl()  . "webpromotions/carousel/"
    )
);
// add second item without link
$breadcrumbs->addCrumb(
    'brands',
    array(
        'label'=>$this->__($data['promotions_name']),
        'title'=>$this->__($data['promotions_name'])
    )
);
echo $breadcrumbs->toHtml();
?>
<div class="promotions">
    <span class="h1"><?php echo $data['promotions_name']; ?></span>
    <div class="std">
        <?php echo $data['description']; ?>
    </div>
    <?php if(isset($blocks) && count($blocks) != '0'): ?>
    <?php foreach($blocks as $block): ?>
    <div class="block">
        <?php echo $block['content']; ?>
    </div>
    <?php endforeach; ?>
    <?php endif; ?>
    <div class="product">

    </div>
</div>